.abouttitle {
    position:absolute;
    z-index:-1;
    background-image: url(../picture/about.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width:600px;
    height: 900px;
    margin:-100px 1% 0 0;
    text-align: center;
    color:#fff;
    font-size: 30px;
    font-family: 'Poiret One',"cwTeXYen",'Noto Sans TC','Open Sans Condensed',sans-serif ;
}

.abouttitle p{
    position:absolute;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    height:100px;
}

.aboutcon1,.aboutcon2,.aboutcon3,.aboutcon4 {
    position:absolute;
    width:20%;
    background:rgba(255,255,255,0.5);
    border-radius: 7px;
    padding:15px;
    border:1px rgba(87,192,185,0.5) solid;
}

.aboutcon1 {
    top:100px;left:15%;
    animation:1.5s fadeInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.aboutcon2 {
    top:250px;right:20%;
    animation:2s fadeInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.aboutcon3 {
    top:400px;left:20%;
    animation:2.5s fadeInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.aboutcon4 {
    top:550px;right:15%;
    animation:3s fadeInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.aboutcon1::before {
    position:absolute;
    content:"";
    width:50px;
    height:50px;
    background:rgba(87,192,185,0.5);
    top:-10px;
    left:-40px;
}

.aboutcon1::after {
    position:absolute;
    content:"";
    width:5px;
    height:180px;
    background:#5793c0;
    top:-65px;
    left:-30px;
}

.aboutcon2::before{
    position:absolute;
    content:"";
    background:rgba(0,0,0,0.3);
    width:70px;
    height:70px;
    top:-20px;
    left:-60px;
}

.aboutcon3::before {
    position:absolute;
    content:"";
    width:80px;
    height:250px;
    top:-240px;
    left:70%;
    border:1px #fff solid;
}

.aboutcon3::after {
    position:absolute;
    content:"";
    width:120%;
    height:90px;
    border:1px #fff solid;
    left:90%;
    top:70px;
}


/*######### Mobile ###########*/

@media screen and (max-width: 640px) {

  .abouttitle {
      width:100%;
  }

  .abouttitle p{
      display: flex;
      align-items: center;
      justify-content: center;
}
  
  .aboutcon1,.aboutcon2,.aboutcon3,.aboutcon4 {
      width:70%;
      left:12%;
  }
  
  .aboutcon1::before {
      width:40px;
      height:40px;
      left:-25px;
      top:-20px;
  }
  
  .aboutcon1::after {
      width:3px;
      left:-15px;
      top:-25px;
  }
  
  .aboutcon2::before {
      width:45px;
      height:45px;
      top:55px;
      left:80%;
  }
  
  .aboutcon3::before {
      width:10%;
      top:-245px;
      left:95%;
      z-index: -1;
  }
  
  .aboutcon3::after {
      width:10%;
      top:-10px;
      left:-5%;
      height:250px;
      z-index: -1;
  }

}