.announcement {
    width:70%;
    margin:80px 15% 14.5% 15%;
    padding:5px 15px;
    border-radius:15px;
    background:rgba(255,255,255,0.7);
    display:flex;
    box-sizing: border-box;
}

.announcement p{
    float:right;
    margin:20px 0;
    font-size:16px;
}

.announcement h3{
    margin:15px 0;
    padding:15px 10px;
    color:#fff;
    background:#57C0B9;
    font-weight:500;
    position:relative;
    text-align: center;
}

/*######### Mobile ###########*/

@media screen and (max-width: 640px) {
  .announcement {
      width: 90%;
      margin:80px 5% 14.5% 5%;
  }
}