.article1 {
    width:70%;
    margin:0 2% 1% 0;
    padding:15px;
    border:1px #000000 solid;
    border-style:none solid none none;
    background:rgba(255,255,255,0.7);
    display:flex;
    flex-direction: column;
}

.article1 article {
    font-size:15px;
    margin:2%;
}

.article1 p {
    float:right;
    margin:5% 0 2% 0;
}

.article1 h6 {
    font-size:35px;
    margin:0 0 20px 0;
    padding:15px;
    color:#454D7C;
    position:relative;
    font-family: 'cwTeXMing','cwTeXFangSong','Microsoft JhengHei', serif;
    font-weight:900;
    border:3px solid #000;
    border-style:none none none solid;
}

.article1 h6::before {
    content:"";
    position:absolute;
    width:50px;
    height:50px;
    top:-5px;
    left:-15px;
    background:#57C0B9;
    z-index: -1;
}

.article1 h6::after {
    content:"";
    position:absolute;
    width:50px;
    height:50px;
    top:25px;
    left:15px;
    background:#0036FF;
    z-index: -1;
    opacity:0.3;
}

.articleauthor {
    background:rgba(51, 136, 183, 0.6);
    background-image: url(../picture/art-backlit-dark-573241.jpg);
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 1500px 900px;
    width:100%;
    margin:40px 0 0 0;
    padding:5% 3% 5% 3%;
    display:flex;
    box-sizing: border-box;
}

.userlittle {
    display:flex;
    justify-content: center;
    font-size:100px;
    color:#046E7C;
    width:100px;
    height:100px;
    background:#F0F0D8;
    border-radius:99em;
    border:1px #046E7C solid;
    float:left;
}

.authorarea {
    float:left;
    height:50px;
    margin:0 10px 0 10px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c2e9fb 100%);
    opacity:0.5;
    width:100%;
    height:100%;
    position:relative;
    padding:10px;
    
}

.authorarea a{
    font-size:30px;
    margin:10px 0 0 20px;
    opacity: 1;
    font-family: "cwTeXYen",'Poiret One','Noto Sans TC',sans-serif, 'Montserrat',Arial;
}

.authorarea a:hover{
    border: 1px #000 solid;
    border-style: none none solid none;
}

.authorarea p {
    font-size:14px;
    margin:10px 0 0 15px;
    height:70px;
}

.authorarea button {
    position:absolute;
    right:25px;
    top:15px;
    width:50px;
    height:25px;
    cursor: pointer;
    background:#000000;
    color:#ffffff;
    border:none;
    transition:0.2s;
}

.authorarea button:hover {
    background:#fff;
    color:#000;
}

.recommand {
    width:25%;
    height:20%;
    flex:1;
}

.recommand ul {
    padding:0;
}

.recommand li {
    list-style: none;
    padding:20px 5px 20px 5px;
    background:#ffffff;
    margin:10px 0 20px 0;
    border:1px #B8B0B1 solid;
    border-style:none none none solid;
}

.recarticle header{
    font-size:20px;
    color:#2C4867;
}

.recarticle p {
    color:#7298C8;
    font-size:16px;
    height:30px;
    overflow: hidden;
}

.recommand li:hover {
    -webkit-box-shadow: 3px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 10px -5px rgba(0,0,0,0.75);
}

.likearea h2 {
    margin:0;
    float:left;
}

.likearea a{
    float:right;
    margin:0px 10px;
    font-size:20px;
    font-family:'Microsoft JhengHei','Open Sans Condensed',sans-serif ;
    font-weight:500;
}

.likearea i {
    font-size:22px;
    font-weight:500;
    transition:0.1s;
}

.likearea i:hover {
    color:#046E7C;
}

.likearea {
    padding:10px 10px;
    margin:2% 0 0 0;
    display:block;
    background:#bbb;
}

.comment textarea {
    width:95%;
    height:100px;
    margin:0 2% 2% 2%;
}
.comment button {
    float:right;
    width:50px;
    height:25px;
    cursor: pointer;
    background:#000000;
    color:#ffffff;
    border:none;
    transition:0.2s;
}

.comment button:hover {
    background:#fff;
    color:#000;
}

.comment {
    background:#bbb;
    padding:0px 10px 10px 10px;
}


/*######### Mobile ###########*/

@media screen and (max-width: 640px) {
    
  .article1 {
      width:100%;
      margin:0;
      border:none;
  }

  .articleauthor {
      flex-direction:column;
      align-items: center;
      padding:10px;
  }

  .authorarea {
      display:flex;
      flex-direction: column;
      align-items: center;
      margin:10px;
  }

  .authorarea a{
      margin:0;
  }

  .authorarea p {
      margin:10px 0 0 0;
      text-align: center;
  }

  .authorarea button {
      position:static;
  }

}
