.h1one {
    position:relative;
    left:0px;
    margin:45px 0 15px 0;
    background:#fff;  
/*    text-shadow: rgb(0,0,0) 1px 1px 0px;*/
    color:#333;
    padding:12px 20px;
    text-align: left;
    width:100%;
/*    height:60px;*/
    box-sizing: border-box;
    font-size:30px;
    font-weight: 500;
    z-index: 1;
    opacity: 0.8;
    border:2px #888 solid;
    border-left:5px #555 solid;
    text-align: center;
}

.h1one::before,.h1two::before {
    content:"";
    position:absolute;
    border-bottom: 2px #000 solid;
    width:95%;
    height:75%;
    opacity:0.8;
    top:0;
    left:0px;
}

.h1one::after, .h1two::after {
    content:"";
    position:absolute;
    top:15%;
    left:0px;
    width:40px;
    height:40px;
    background:#ddd;
    z-index:-1;
}

.h1two {
     position:relative;
    left:0px;
    margin:45px 0 0 0;
    background:#fff;  
/*    text-shadow: rgb(0,0,0) 1px 1px 0px;*/
    color:#333;
    padding:12px 20px;
    text-align: left;
    width:100%;
/*    height:60px;*/
    box-sizing: border-box;
    font-size:30px;
    font-weight: 500;
    z-index: 1;
    opacity: 0.8;
    border:2px #888 solid;
    border-left:5px #555 solid;
    text-align: center;
}

.h1three{
    position:relative;
    background:#57C0B9;  
/*    text-shadow: rgb(0,0,0) 1px 1px 0px;*/
    color:#fff;
    padding:10px;
    margin-top: 16px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width:100%;
    height:45px;
    box-sizing: border-box;
}

.h1three::before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    border:1px #000000 solid;
    top:-5px;
    left:5px;
}

.t, .o ,.blank ,.r ,.e ,.v ,.i ,.e2 ,.w {
/*    height:350px;*/
    width:12%;
    border:3px #fff solid;
    border-style:none solid solid none;
/*    outline: 5px #ffffff solid;*/
    font-size:80px;
    text-shadow: rgb(122, 122, 122) 4px 3px 0px;
/*    line-height: 600px;*/
    color:#ffffff;
    text-align: center;
    flex:1;
/*    margin:0 1px 0 1px;*/
    box-sizing: border-box;
}

.t {
    border-style:none solid solid solid;
    line-height:1100px;
    height:600px;
    background-image:linear-gradient(-225deg,#FFD6CF 0%, #faaca8 36%, #FF9E85 100%);
    animation:1.5s bounceInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.o {
    line-height:1040px;
    height:570px;
    background-image: linear-gradient(-45deg, #FFE29F 0%, #FFAD73 48%, #FF9791 100%);
    animation:2.0s bounceInDown;
    animation-delay:0s;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.blank {
    height:540px;
    background-image: linear-gradient(-225deg, #FFCC30 0%, #FFE29F 48%, #FCE077 100%);
    animation:2.5s bounceInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.r {
    line-height:920px;
    height:510px;
    background-image: linear-gradient(-45deg, #20E2D7 0%, #F9FEA5 100%);
    background-image: linear-gradient(135deg, #F9FEA5 0%, #96e6a1 100%);
    animation:3s bounceInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
/*    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%); */
}

.e  {
    line-height:860px;
    height:480px;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    background-image: linear-gradient(-225deg, #96e6a1 0%, #9bf3e2 100%);
    animation:3.5s bounceInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.v {
    line-height:800px;
    height:450px;
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
    background-image: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%);
    animation:4s bounceInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.i {
    line-height:740px;
    height:420px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    background-image: linear-gradient(135deg, #8fd3f4 30%, #87b0f0 100%);
    animation:4.5s bounceInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.e2 {
    height:390px;
    line-height:680px;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
    background-image: linear-gradient(-225deg, #87b0f0 50%, #528ec4 100%);
    animation:5s bounceInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.w{
    line-height:620px;
    height:360px;
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
    background-image: linear-gradient(135deg, #5271C4 0%, #B9B6E5 100%);
    animation:5.5s bounceInDown;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
}

.toreview {
    position:absolute;
    top:400px;
    right:20px;
    left:20px;
/*    width:100%;*/
    height:200px;
    background: linear-gradient(-90deg, rgba(0,0,0,0.5) 0%,rgba(255,255,255,0) 100%);
/*    opacity:0.5;*/
    margin:0;
/*
    border-style:double none double none;
    border-width:20px;
    border-color:#ffffff;
*/
    box-sizing: border-box;
    clear: both;
    padding:0 20px 0 10px;
    display:flex;
    align-items: center;
    justify-content:flex-end;
    animation:10s fade;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
    z-index: -2;
}

.toreview p {
    font-size:20px;
    color:#ffffff;
    text-shadow: rgb(0, 0, 0) 1px 1px 0px;
    width:200px;
    height:100px;
    z-index: 1;
}



/* Slideshow container */

.slideshow-container {
    margin:0;
    width: 100%;
/*    height: 50%;*/
    position: relative;
    overflow: hidden;
    justify-content:center;
    display:flex;
/*    flex-wrap: nowrap;*/
}

.slide {
    display:block;
    width:250px;
/*    height:100%;*/
    margin: 0 auto;
    flex:1;
    animation:slideInRight 0.3s;
}

.content {
    position: absolute;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    display:block;
    color: #f1f1f1;
    font-size:2vw;
    width: 15%;
    padding:1%;
    opacity:0;
    transition:0.3s;
}

.slideimg {
    width:100%;
    margin: 0 auto;
    opacity:0.7;
    transition:0.3s;
}

.slide:hover img{
    opacity:1;
}

.slide:hover .content {
    opacity:1;
}

/* Hide the images by default */
.mySlides {
    display: none;
    justify-content: center;
    overflow: hidden; 
/*    height:310px;*/
    
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
    left:0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mobilehot {
    display:none;
    position:relative;
}

.indexwork {
    width:auto;
    justify-content:center;
/*    background:rgba(0,0,0,0.3);*/
/*    background-image: url(picture/lalaland.jpg);*/
    margin:0;
    border-radius:7px;
/*    padding:5px 0 0 0 ;*/
}

.hotwork {
    position:relative;
/*    min-width:19.5%;*/
    width:42.5%;
/*    margin:5px 0px;*/
/*    padding:5px;*/
    border:1px #000000 solid;
    box-sizing: border-box;
    background: #ffffff;
    list-style: none;
/*    height:330px;*/

}

.hotworks {
    position:relative;
    width:15%;
/*    min-width:50px;*/
/*    margin:5px 0px;*/
/*    padding:5px;*/
    border:1px #000000 solid;
    list-style: none;
    display:flex;
    flex-direction: column;
/*    height:330px;*/
    overflow: hidden;
    box-sizing: border-box;

}

.hotworks a {
    position:relative;
    display:flex;
    background:#fff;
    width:100%;
/*    height:110px;*/
}

.hotwork img {
    width:100%;
    height:100%;
    opacity:0.6;
    transition:0.3s;
}

.hotworks img {
    opacity:0.6;
    transition:0.3s;
    width:100%;
    height:100%;
}

.content2 {
    position: absolute;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    display:block;
    color: #f1f1f1;
    font-size:25px;
    width: 80%;
    padding:5%;
    opacity:0;
    transition:0.3s;
}

.content3 {
    position: absolute;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    display:flex;
    color: #f1f1f1;
    font-size:20px;
    width:100%;
    height:100%;
    padding:1%;
    opacity:0;
    transition:0.3s;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    justify-content: center;
    align-items: center;
}

.hotwork:hover img, .hotworks a:hover img{
    opacity: 1;
}

.hotwork:hover .content2 {
    opacity:1;
}

.hotworks a:hover .content3 {
    opacity:1;
}



.col-8 ul {
    padding:20px 10px 20px 10px;
    background:#c8ef9e;
    height:600px;
    overflow: auto;
}

.col-8 ul li{
    padding:5px 10px 5px 10px;
    border:1px #ffffff outset;
/*
    border-style:outset outset outset solid;
    border-left-color:#000000;
*/
    border-width:2px;
    margin:5px;
    list-style: none;
    background:#fff;
}

.col-8 ul li:hover {
/*    border:1px #ffffff solid;*/
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
}

.indexarticlelist {
    display:flex;
    flex-direction: column;
    font-family: "cwTeXYen",'Poiret One','Noto Sans TC',sans-serif, 'Montserrat',Arial;
    text-decoration:none;
    border-width:2px;
    border-style:none none none solid;
    border-color:#000000;
}

.indexarticlelist header ,.indexarticlelist header a {
    font-size:14px;
    color:#607580;
    margin:3px 10px;
}

.indexarticlelist div a {
    float:right;
    margin:0px 5px;
    color:#9FC1D1;
    font-family: "cwTeXYen",'Noto Sans TC',sans-serif, 'Montserrat',Arial;
}

.indexarticlelist div {
    font-size:12px;
    display:block;
    width:100%;
}

.indexarticlelist h2 {
    font-size:30px;
    margin:20px 5px;
}

.indexarticlelist p {
    font-size:14px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    height:20px;
    margin:20px 5px;
}


.rightarea {
/*    position:absolute;*/
/*    right:0px;*/
    width:35%;
}

.rightside {
    margin:0px -5px 0px 10px;
    padding:0;
    counter-reset:num;
}

/*
.rightside::after {
    content:"";
    position:absolute;
    width:90%;
    height:50%;
    border:3px #000 double;
}
*/

.rightside li {
    border-style:hidden hidden double hidden;
    border-color:#029278;
    border-width:2px;
    margin:0px;
    padding:5px;
    list-style: none;
    background:#ffffff;
    transition:0.3s;
}

.rightside li:hover{
    border-style:hidden hidden double hidden;
    border-color:#000;
    border-width:2px;
}

.rightside li:hover .hotarticlelist{
   background:#569AA2; 
}

.rightside li::before{
    counter-increment:num; 
    content:counter(num) '. ';
    font-size:30px;
    color:#569AA2;
    font-family: 'Montserrat',monospace;
    float:left;
    width:30px;
    text-align: center;
}

.rightside a {
    color:#000000;
    text-decoration:none;
}

/*
ul.rightside a:hover {
    color:#595959;
}
*/

.hotarticlelist {
    display:flex;
    flex-direction: column;
    font-family: "cwTeXYen",'Poiret One','Noto Sans TC',sans-serif, 'Montserrat',Arial;
    text-decoration:none;
    background:#c9f2f1;
    transition:0.3s;
}

.hotarticlelist header a {
    font-size:14px;
    color:#607580;
    margin:3px 5px;
}

.hotarticlelist h3 {
    margin:5px 10px;
}

.hotarticlelist div a {
    float:right;
    margin:0px 5px;
    color:#9FC1D1;
    font-family: "cwTeXYen",'Noto Sans TC',sans-serif, 'Montserrat',Arial;
}

.hotarticlelist div {
    font-size:12px;
    display:block;
    width:100%;
    
}


/*######### Mobile ###########*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width:900px) {
    
  
/* notitle1替補 */
    .col-3 {
        width:100%;
        margin:0;
    }
    
    .col-x {
        width:15%;
    }
        
    .dropdown-content a {
    font-size:14px;
    }
    
    
}

@media screen and (max-width: 640px) {
 
    .sidenav {font-size:16px;}
    
    .col-y {
        display:none;
    }
    
    article p {
        font-size: 25px;
  }
    .row3 {
        flex-direction: column;
    }

    .rightside {
        margin:0;
    }
    
    
    .col-8,.col-7,.col-6,.col-5,.col-4 {
        width: 100%;
        margin: 0;
  }
    
    .mobilehot {
        display:block;
    }
    
    
/*
    .rightarea {
        margin-top:30px;
        order:2;
    }
    
    .h1two {
        order:1;
    }
    
    .col-8 {
        order:3;
    }
    
*/
    .rightside {
        margin:16px 0px;
    }
    
/*
    .h1one,.h1two,.h1three {
        height:80px;
    }
    
*/
    .h1two,.h1three {
/*        margin:0 auto;*/
    }
    
    .slideshow-container {
        display:none;
    }
    
    .col-x {
        display:none;
    }
    
    .mobilenav {
        flex-direction: column;
        width:100%;
        display:block;
        left:-100%;
        position:absolute;
        top:40px;
        transition:0.3s;
    }
    
    .responsive {
        display:flex;
        flex-direction: row;
        background:#000;
        position:relative;
        float:none;
        background:#046E7C;
/*        opacity:0.8;*/
        border:2px solid #fff;
        border-style:none solid solid none;
        box-sizing: border-box;
        height:45px;
        z-index:1;
        transition:0.3s;
    }
    
    .responsive:hover {
        background:#ddd;
    }
    
    .movie {
        border-style:solid solid solid none;
        background:#c9f2f1;

        width:100%;
    }
    
    .drama {
        background:#c9f2f1;

        width:80%;
    }
    
    .anime {
        background:#c9f2f1;
        width:60%;
    }
    
    
    .dropdown-content1 {
        display:flex;
        flex-flow: column;
        background:#F6F5F4;
        z-index: 0;
        opacity: 0.9;
    }
    
    #moviec, #dramac, #animec {
        display:none;
    }
    
    #moviec {
        width:90%;
    }
    #dramac {
        width:70%;
    }
    #animec {
        width:50%;
    }
    
    
    .col-sp {
        display:block;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari 3-8 */
        transform: rotate(90deg);
        width:40px;
        font-size:40px;
        height:40px;
        text-align: center;
        line-height:40px;
        padding-left:10px;
        cursor: pointer;
        box-sizing: border-box;
        float:left;
        transition:0.3s;
    }
    
    .col-sp:hover {
        background:rgba(255,255,255,0.6);
        color:#000;
    }
    
    .title a {
        font-size:22px;
        color:#f5f5f5;
        width:100%;
}
    
    .category {
        padding:3% 30px 3% 0;
        display:flex;
        line-height: 100%;
        align-items: center;
        justify-content:flex-end;
        text-shadow: 1px 1px rgba(0,0,0,0.6);
    }
    
    .responsive span {
        display:block;
        height:45px;
        width:30px;
        cursor: pointer;
        position:absolute;
        padding:8px 0px 0px 0px;
        right:0;
        z-index: 1;
        transition:0.3s;
        text-align: center;
        box-sizing: border-box;
    }
    
    .plus,.minus {
        font-family:'Montserrat','Microsoft JhengHei';
        animation:fade 2as;
        animation:rotateIn 1s;
    }
    
    .minus {
        display:none;
    }
    
    .plus::before {
        content:"\002B";
        color:#57c0b9;
        margin:0;
        text-align: center;
        font-size:25px;
        font-weight:900;
    }
    
    .responsive span:hover {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    }
    
    .minus::before {
        content:"\2212";
        color:#57c0b9;
        margin:0;
        text-align: center;
        font-size:25px;
        font-weight:900;
    }

/*
.feather {
    display:none;
    vertical-align:-8%;
}
*/

.col-x:hover:before {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
    display:none;
}


.col-x::before {
    display:none;
/*
     pointer-events: none;
    display:none;
    position: absolute;
    z-index:0;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    left: calc(50% - 10px);
    bottom: 0;
    border-width: 10px 10px 0 10px;
    border-color: #84fab0 transparent transparent transparent;
    opacity:0.1;
*/
}

.col-x:hover img{
    display:none;
/*
    display:inline-block;
    transition: 0.3s;
*/
}


/*
 Dropdown Content (Hidden by Default) 
.dropdown-content {
    padding:5px 0px 0px 0px;
    margin:1.5px 0px 0px 0px;
    display:flex;
    flex-direction: column;
    display:none;
    background-color:#046E7C;
    z-index:-1;
    border:3px #ffffff solid;
}
*/

/* Links inside the dropdown */
    .dropdown-content1 a {
        font-size:16px;
        color:#000;
        padding:5px 0px 5px 0px;
        margin:0;
        text-align: center;
        width:100%;
        opacity: 1;
        border:1px solid #fff;
        border-style:none solid solid none;
        transition:0.3s;
}
    .dropdown-content1 a:hover {
        background:rgba(0,0,0,0.6);
        color:#fff;
    }
    
    .modal-content {
        width:100%;
    }
    
    .modal-content img {
        width:50%;
    }
    
    .container span {
        position:static;
    }
    
    .container label {
        margin:0 0 10px 0;
        float:none;
        width:100%;
        display:block;
    }
    
    span.extra {
        float:none;
        width:100%;
        display:block;
    }
    
    
    .divide {
        width:100%;
        text-align: center;
        margin:0px 0px 5px 0px;
    }
    
    .languagedivide {
        width:100%;
        text-align: center;
        padding-right: 0px;
        margin:5px 0px;
}
    
    .search {
        justify-content: center;
    }
    
    #myUL {
    justify-content: center;
}
    
    #rightbottom {
    display:none;
    }

    .sidebar {
        display:none;
    }
    
/*
    .about {
        flex-direction: column;
    }
    
*/
    .t, .o ,.blank ,.r ,.e ,.v ,.i ,.e2 ,.w {
/*    height:120px;*/
/*    font-size:100px;*/
        font-size:25px;
/*    text-shadow: rgb(122, 122, 122) 4px 3px 0px;*/
        text-shadow: rgb(122, 122, 122) 2px 2px 0px;
/*    line-height: 600px;*/
    color:#ffffff;
/*    text-align: right;*/
         text-align: center;
/*    flex:1;*/
        border-width:2px;
/*
        padding-right: 15px;
        line-height:120px;
*/
}

.t {
/*    margin:40px 0 0 0;*/
/*    border-style:none solid solid none;*/
    width:75%;
    width:12%;
    height:320px;
    line-height: 600px;
    line-height: 120px;
/*
    background-image:linear-gradient(-225deg,#FFD6CF 0%, #faaca8 36%, #FF9E85 100%);
    animation:1.5s fade;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
*/
}

.o {
    width:70%;
    width:12%;
    height:270px;
    line-height: 500px;
    line-height: 120px;
/*
    background-image: linear-gradient(-45deg, #FFE29F 0%, #FFAD73 48%, #FF9791 100%);
    animation:3s fade;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
*/
}

.blank {
    width:65%;
    width:12%;
    height:200px;
    line-height: 360px;
    line-height: 120px;
    border-style:none none solid none;
/*
    background-image: linear-gradient(-225deg, #FFCC30 0%, #FFE29F 48%, #FCE077 100%);
    animation:4.5s fade;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
*/
}

.r {
    width:70%;
    width:12%;
    height:220px;
    line-height: 400px;
    line-height: 120px;
    border-style:none none solid solid;
/*
    background-image: linear-gradient(-45deg, #20E2D7 0%, #F9FEA5 100%);
    animation:6s fade;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
*/
/*    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%); */
}

.e  {
    width:75%;
    width:12%;
    height:300px;
    line-height: 560px;
    line-height: 120px;
    border-style:none solid solid solid;
/*
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
    animation:7.5s fade;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
*/
}

.v {
    width:80%;
    width:12%;
    height:250px;
    line-height: 460px;
    line-height: 120px;
    border-style:none none solid none;
/*
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
    animation:9s fade;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
*/
}

.i {
    width:85%;
    width:12%;
    height:350px;
    line-height: 660px;
    line-height: 120px;
    border-style:none solid solid solid;
/*
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    animation:10.5s fade;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
*/
}
    
.e2 {
    width:90%;
    width:12%;
    height:220px;
    line-height: 400px;
    line-height: 120px;
    border-style:none none solid none;
/*
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
    animation:fade 12s;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
*/
}

.w{
    width:95%;
    width:12%;
    height:280px;
    line-height: 520px;
    line-height: 120px;
    border-style:none solid solid solid;
/*
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
    animation:13.5s fade;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
*/
}
    
    .toreview {
/*    position:absolute;*/
    top:250px;
/*    left:73%;*/
    height:1075px;
        height:150px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0% ,rgba(0,0,0,0.5) 100%);
/*        background:rgba(0,0,0,0.6);*/
/*    opacity:0.5;*/
/*    margin:0;*/
/*
    border-style:none none double none;
    border-width:10px;
    border-color:#ffffff;
*/
/*    box-sizing: border-box;*/
    padding:20px 10px 0 10px;
        padding:0px 10px 20px 10px;
/*    display:flex;*/
    align-items: flex-end;
    justify-content:center;
/*
    animation:15s fade;
    animation-timing-function:cubic-bezier(cubic-bezier(1,0,.99,.58));
*/
        z-index:0;
}

.toreview p {
    font-size:20px;
/*
    color:#ffffff;
    text-shadow: rgb(0, 0, 0) 1px 1px 0px;
*/
    width:22px;
    width:100%;
    margin:0;
    height:auto;
/*
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
*/
}
    

    .abouttitle {
/*
        background-image: url(picture/about1.png);
    position:relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
*/
    width:100%;
}

    .abouttitle p{
/*
    position:absolute;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
*/
        display: flex;
        align-items: center;
        justify-content: center;
}
    
    .aboutcon1,.aboutcon2,.aboutcon3,.aboutcon4 {
        width:70%;
        left:12%;
    }
    
    .aboutcon1::before {
        width:40px;
        height:40px;
        left:-25px;
        top:-20px;
    }
    
    .aboutcon1::after {
        width:3px;
        left:-15px;
        top:-25px;
    }
    
    .aboutcon2::before {
        width:45px;
        height:45px;
        top:55px;
        left:80%;
    }
    
    .aboutcon3::before {
        width:10%;
        top:-245px;
        left:95%;
        z-index: -1;
    }
    
    .aboutcon3::after {
        width:10%;
        top:-10px;
        left:-5%;
        height:250px;
        z-index: -1;
    }

    .member {
        margin:60px 0 10px 0;
        width:100%;
    }
    
    .membertop img {
        width:75%;
}
    
    .membercontent {
        margin:10px 0;
        width:100%;
    }
    
    .myuserlittle {
        margin:8px auto;
    }
    
    .authorlist {
        flex-direction: column;
}
    .authorarticle {
        width:100%;
        border:1px #15669b solid;
        border-style:none solid solid solid;
    }
    
    .authorback {
        background:#000;
        width:100%;
        background-image:url(picture/art-backlit-dark-573241.jpg);
        background-repeat: no-repeat;
/*    background-attachment: fixed;*/
        background-position: 50% 40%;
        background-size: 1000px 600px;
        border:1px #15669b solid;
        border-style:solid solid none solid;
        box-sizing:border-box;
    }
    
    
    .memberarticle {
        width:100%;
    }
    
    .authorarticle:hover, .memberarticle:hover {
        box-shadow: none;
        background:#eee;
    }
    
    .article1 {
        width:100%;
        margin:0;
        border:none;
    }
    
    .articleauthor {
        flex-direction:column;
        align-items: center;
        padding:10px;
    }
    
    .authorarea {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:10px;
    }
    
    .authorarea a{
        margin:0;
    }
    
    .authorarea p {
        margin:10px 0 0 0;
        text-align: center;
    }
    
    .authorarea button {
        position:static;
    }

}

@media screen and (max-width: 500px) {
    .hotworks {
        flex-direction: row;
        width:100%;
/*        height:110px;*/
    }
    
    .hotwork {
        width:100%;
    }
    
}