.member {
    background:#ffffff;
    height:100%;
    color:#000000;
    line-height:1;
    display:block;
    text-align: center;
    margin:80px 10px 10px 10px;
    padding:0px;
    width:20%;
    animation:bounceInLeft 1.5s;
}

.membercontent {
    height:100%;
    color:#000000;
    line-height:1;
    text-align:center;
    margin:80px 10px 10px 0;
    width:70%;
    flex:1; 
    animation:bounceInRight 1s;
}

.orginal {
    display:flex;
    justify-content:center;
}

.membertop {
    padding:20px;
}

.membertop img {
    width:100%;
}

.id {
    background:#57C0B9;
    margin:0px;
    padding:15px;
    color:#fff;
}

.option{
    list-style: none;
    padding:0px;
    text-align: left;
}

.option li {
    margin:5px;
    padding:10px;
    border:1px #57C0B9 solid;
}

.option li:hover {
    background:#ccc;
    border:1px #ccc solid;
}

.memberactive {
    background:#57C0B9;
    color:#fff;
}

.contenttop {
    background:#569AA2;
    color:#eee ;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 15px;
    box-sizing: border-box;
}

.contenttop:hover {
    background:#68A7B8;
}

#contentblock1, #contentblock2, #contentblock3 {
    display:flex;
    background:#ffffff;
    width:100%;
    flex-direction: column;
    margin:0 0 10px 0;
    background:#ffffff;
}

#contentblock1, #contentblock3 {
    padding-top: 10px;
}

.more{
    text-align:center;
    width:100%;
    margin:10px 0px 0px 0px;
    background:#ccc;
    padding:10px 5px 5px 5px;
    box-sizing:border-box;
}

.more:hover {
    background:#bbb;
}

.authorlist {
    padding:10px 10px;
    display:flex;
    align-items: center;
    position:relative;
    overflow: hidden;
    justify-content: center;
}

.myuserlittle {
    flex: 0 1 30px;
    justify-content: center;
    font-size:50px;
    color:#046E7C;
    width:50px;
    height:50px;
    background:#F0F0D8;
    border-radius:99em;
    border:1px #046E7C solid; 
}

.authorarticle {
    margin:0px 1%;
    text-align: left;
    border:1px #15669b solid;
    border-bottom:2px #15669b solid;
    border-right:2px #15669b solid;
    padding:5px;
    width:90%;
    background:#fff;
    box-sizing: border-box;
    font-family: "cwTeXYen",'Poiret One','Noto Sans TC',sans-serif, 'Montserrat',Arial;
}

.authorarticle:hover {
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);

}

.authorarticle header {
    margin:5px 1% 5px 1%;
    font-size:14px;
}

.authorarticle h2 {
    margin:10px 2% 0px 2%;
}

.authorarticle p {
    margin:5px 2% 15px 2%;
    height:15px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    width:90%;
    font-size:14px;
}


.worklist {
    overflow:hidden;
    height:280px;
    justify-content: center;
    margin:0;
    padding:5px 0 0 0 ;
}

.userworks {
    position:relative;
    width:180px;
    margin:5px 10px;
    padding:5px;
    border:1px #000000 solid;
    transition:0.1s;
    background: #ffffff;
    list-style: none;
    opacity:0.6;
}

.userworks:hover {
    opacity: 1;
}

.memberarticle {
    margin:0px 1%;
    text-align: left;
    border:1px #15669b solid;
    border-bottom:2px #15669b solid;
    border-right:2px #15669b solid;
    padding:5px;
    width:95%;
    background:#fff;
    box-sizing: border-box;
    font-family: "cwTeXYen",'Poiret One','Noto Sans TC',sans-serif, 'Montserrat',Arial;
}

.memberarticle:hover {
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);

}

.memberarticle header {
    margin:5px 1% 5px 1%;
    font-size:14px;
}

.memberarticle h2 {
    margin:10px 2% 0px 2%;
}

.memberarticle p {
    margin:5px 2% 15px 2%;
    height:15px;
    overflow : hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    width:90%;
    font-size:14px;
}


/*######### Mobile ###########*/

@media screen and (max-width: 640px) {

  .member {
      margin:60px 0 10px 0;
      width:100%;
  }
  
  .membertop img {
      width:75%;
  }
  
  .membercontent {
      margin:10px 0;
      width:100%;
  }
  
  .myuserlittle {
      margin:8px auto;
  }
  
  .authorlist {
      flex-direction: column;
  }
  
  .authorarticle {
      width:100%;
      border:1px #15669b solid;
      border-style:none solid solid solid;
  }
  
  .authorback {
      background:#000;
      width:100%;
      background-image:url(../picture/art-backlit-dark-573241.jpg);
      background-repeat: no-repeat;
      background-position: 50% 40%;
      background-size: 1000px 600px;
      border:1px #15669b solid;
      border-style:solid solid none solid;
      box-sizing:border-box;
  }
  
  
  .memberarticle {
      width:100%;
  }
  
  .authorarticle:hover, .memberarticle:hover {
      box-shadow: none;
      background:#eee;
  }
  
}